[server]
# The servers host, either 127.0.0.1 or 0.0.0.0
host = "0.0.0.0"
# The port the server should run on
port = "8083"
# Secret
secret = ""

[database]
# Postgres connection uri
postgres = "postgres://kitter:kitter@localhost:5432/kitter"
